body {
  margin: 0;
  padding: 0;
}

header {
  position: ;
}

.flashes {
  position: relative;
}
.flashes .flash p {
  display: inline-block;
}
.flashes .flash button {
  float: right;
}

nav.nav {
  float: left;
  height: 100%;
}
